{{ $icon := .Site.Params.devNotes.icon | default "cog" }}
{{ $class := "hx:border-orange-100 hx:bg-orange-50 hx:text-orange-800 hx:dark:border-orange-400/30 hx:dark:bg-orange-400/20 hx:dark:text-orange-300" }}

{{ if .Site.Params.devNotes.enabled -}}
<div class="hx:overflow-x-auto hx:mt-6 hx:flex hx:rounded-lg hx:border hx:py-2 ltr:pr-4 rtl:pl-4 hx:border-current hx:dark:border-current {{ $class }}">
  <div class="hx:pl-3 hx:pr-2 hx:pr-3 hx:pl-2">
      {{- with $icon }}
        {{ partial "utils/icon.html" (dict "name" . "attributes" `height=1.2em class="inline-block align-middle"`) -}}
      {{- end -}}
  </div>

  <div class="w-full min-w-0 leading-7">
    <strong>Note for documentation writers</strong>
    <div class="hx:mt-6 hx:leading-7 hx:first:mt-0">
      {{ .Inner | markdownify }}
    </div>
  </div>
</div>
{{ end }}
